body {
  background-color: floralwhite;
  color: midnightblue;
  font-family: 'Nunito', sans-serif;
  padding: 0 10px;
}

section {
  margin-bottom: 10px;
  padding: 5px;
}

/* navigation bar */
nav.navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

nav.navbar>.navItem {
  width: 100px;
  flex: 0 1 auto;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

/* end of navigation */
h1 {
  font-size: large;
  font-weight: 900;
  color: darkblue;
}

ul li {
  margin-bottom: 7px;
  text-align: justify;
}

div.experienceList {
  display: flex;
  flex-direction: column;
}

div.experienceList>.experienceItem {
  flex: 1;
}

/* from style */
form#leave_message {
  display: flex;
  flex-direction: column;
}

form#leave_message>.formItem {
  width: 300px;
  flex: auto;

}

form#leave_message label {
  font-size: large;
  color: #2b1299;
}

form#leave_message>input,
textarea {
  border: 1px solid cornflowerblue;
  font-size: 15px;
  padding: 7px;
}

form#leave_message>button#submit {
  width: 150px;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #b2dbae;
  border: 1px solid cornflowerblue;
  font-size: large;
  font-weight: 500;

}

/* end of form */
ul#user_message a {
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;

}

/* remove button */
ul#user_message button {

  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: large;
  color: #e0455e;
}

footer {
  background-color: #e2e2a6;
  padding: 10px 5px 10px 20px;
}

/* desktop*/
@media (max-width: 1024px) {}

/* phone */
@media (max-width :640px) {
  form#leave_message {
    align-items: center;
  }

  nav.navbar {
    flex-direction: column;
  }
}

/* tablet */
@media (max-width:768px) {
  nav.navbar {
    flex-direction: column;
  }
}